[submodule "build-monitor-client"]
	path = build-monitor-client
	url = https://github.com/DetKewlDog/build-monitor-client.git
[submodule "build-monitor-server"]
	path = build-monitor-server
	url = https://github.com/DetKewlDog/build-monitor-server.git
